<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class ="Error" > 404 </h1>
    <h2> #Try again </h2>
    <form class="Error_Button" action="/logout" method="POST">
        <input type="submit" value="logout">
    </form>
</body>
</html>