<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="Containter">
        <form class="Form__Login" action="/login" method="POST"> 
            <h1> P O S T |  T</h1>
            <h2> #to create a todo</h2>

            <h2> LogIn</h2>
            <input type="text" name="usename" placeholder="usename">
            <input type="text" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>
    </div>

    <div class="Containter">
        <form class="Form__Login" action="/register" method="GET"> 
            <h2> Register </h2>
            <input type="submit" value="register">
        </form>
    </div>
</body>
</html>